@{
    ViewData["Title"] = "playFusionX - Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to playFusionX</h1>
    <p>Your hub for seamless playlists from Spotify and SoundCloud.</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Playlist" asp-action="Index">Explore Playlists</a>
</div>
